body{
  background-image: url("apple5.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.container {
  display: flex;
  border-radius: 20px;
  padding:  0 10px 10px 10px;
  width: 500px;
  height: 420px;
  position: absolute;
  top: 110px;
  background-color: azure;
  box-shadow: 3px 3px 3px rgb(190, 190, 190);
  flex-direction: column;
  justify-content: space-between;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.progress-div {
  display: flex;
  flex-direction: row;
}
.quality-1,
.quality-2,
.quality-3 {
  font-size: x-large;
  margin: 0;
}
.input1 {
  width: 490px;
  height: 60px;
  font-size: 45px;
  border-radius: 10px;
}
.quality-1 {
  margin-left: 110px;
}
.quality-2 {
  margin-left: 100px;
}
.quality-3 {
  margin-left: 100px;
}
.switch1,
.switch2,
.switch3,
.switch4 {
  display: flex;
  width: 250px;
  padding: 5px 0 5px 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.switch1,
.switch3 {
  margin-right: 5px;
}
.switch1-2, 
.switch3-4 {
  display: flex;
  margin-bottom: 10px;
}
.p-1 {
  font-size: 30px;
  display: block;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
input[type="checkbox"] {
  cursor: pointer;
  margin: 5.5px 0 0 0;
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  background-color: #c6c6c6;
  border-radius: 15px;
  outline: none;
  transition: 0.35s;
}
input:checked[type="checkbox"] {
  background-color: greenyellow;
}
input[type="checkbox"]::before {
  background-color: rgb(77, 72, 72);
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  border-radius: 15px;
  transition: 0.35s;
}
input:checked[type="checkbox"]::before {
  left: 25px;
}
.range {
  margin: auto 0;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #bebebe;
  outline: none;
  opacity: 0.8;
}
.range:hover {
  opacity: 1;
  cursor: pointer;
}  
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #6c58dd;
}
.start-end {
  display: flex;
  flex-direction: row;
}
.input-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.start{
  margin-right: 10px;
  font-size: x-large;
  font-weight: 500;
  color:#6c58dd;
}
.end{
  margin-left: 10px;
  font-size: x-large;
  color:#6c58dd;
}
.count {
  margin: 15px auto;
  font-size: xx-large;
  color:#664AFF;
}
.pass-container {
  height: 90px;
  padding: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border: #EAEAEA 1px solid;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 10px 0 0 0;
  position: relative;
}
.btn-copy svg{
  width: 36px;
  height: 36px;
  background-color: transparent;
  fill:gray
}
.btn-copy {
  outline: none;
  border: none;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity 0.2s;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 35px;
  z-index: 1;
}
.copy-container {
  top: 0;
  right: 0;
  height: 100%;
  position: absolute;
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 77%, rgba(255,255,255,0) 100%);
  z-index: 2;
  width: 70px;
}
.btn-copy:hover {
  opacity: 1;
}
.progress {
  margin-top: -30px;
  background-color: lightgray;
  border-radius: 4px;
  width: 100%;
  height: 8px;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.progress-bar{
  transition: width 0.8s;
  width: 0%;
  border-radius: 4px;
}
.progress-bar0{
  width: 0%;
  height: 100%;
}
.progress-bar28 {
  background-color: red;
  width: 33%;
  height: 100%;
}
.progress-bar60 {
  background-color: orange;
  width: 66%;
  height: 100%;

}
.progress-bar100 {
  background-color: green;
  width: 100%;
  height: 100%;
}
.end, .start, .count {
  font-family: 'Courier New', monospace;
}
.myh1 {
  font-family: Arial, sans-serif;
}
.pass-container::-webkit-scrollbar {
  display: none;
}
.pass-container {
-ms-overflow-style: none; 
scrollbar-width: none;  
}



